
{% block TITLE %}Author{% endblock TITLE %}

{% block BODY %}
  {% if user.is_authenticated %}
    <form action="{% url 'dirictories:add-authors' %}">
      <button class="btn btn-primary">Добавить</button>
    </form>
  {% endif %}

  <div class="container-book">
    {% for object in object_list %}
    <div class="book-block">
      <div class="card" style="width: 100%;">
      
        <div class="card-body">
          <h5 class="card-title">{{object.author_name}}</h5>
          <p class="card-text">
            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">

                    <button class="accordion-button collapsed " 
                      style="align-items: stretch; flex-direction: column;" 
                      type="button" data-bs-toggle="collapse" 
                      data-bs-target="#object{{ forloop.counter}}" aria-expanded="true" 
                      aria-controls="panelsStayOpen-collapseOne">

                   
                    </button>

                </h2>
                
                <div id="object{{ forloop.counter}}" class="accordion-collapse collapse">
                  <div class="accordion-body" style="word-break: break-all;">
                    {{object.author_description}}
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>
        {% if user.is_authenticated %}
          <a href="{% url 'dirictories:update-authors' pk=object.pk %}" 
            class="btn btn-primary" style ="margin: .1rem .1rem">Изменить</a>

          {% if user.is_superuser %}

            <a href="{% url 'dirictories:delete-authors' pk=object.pk %}" 
              class="btn btn-primary" style ="margin: .1rem .1rem">Удалить</a>

          {% endif %}
        {% endif %}
        
      </div>
    </div>
  
    {%endfor%}
  </div>

{% endblock BODY %} 