{% extends 'base.html' %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for object in object_list %}

        <div class="col" style="width: 30%; height: 500px;">
          <div class="card shadow-sm">
            <a href="{% url 'book:book_detail.html' pk=object.pk %}">
            <img src="{{ object.cover_image.url }}" alt="No image" style="width: 100%; height: 225px; object-fit: cover;"></a>
            <div class="card-body">
              <p class="card-text">{{ object.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'book:book_detail.html' pk=object.pk %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Цена</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      
     
      
    </div>
  </div>
</div>
{% comment %} {% for object in object_list %}

        <div class="col" style="width: 30%; height: 500px;">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"> {{ object.title }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ object.genres }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'book:book_detail.html' pk=object.pk %}">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Цена</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %} {% endcomment %}
{% comment %} <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div> 
  <h1>Hi all, there is a list of all authors</h1>
  <div> Чтобы добавить  
  </div>
  <table>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.title }}</td>
          <td><img src="{{ object.cover_image.url }}" alt=""></td>
          <td>{{ object.price }}</td>
          <td>{{ object.authors }}</td>
          <td>{{ object.series }}</td>
          <td>{{ object.genres }}</td>
          <td>{{ object.publication_year }}</td>
          <td>{{ object.pages }}</td>
          <td>{{ object.binding }}</td>
          <td>{{ object.format }}</td>
          <td>{{ object.isbn }}</td>
          <td>{{ object.weight }}</td>
          <td>{{ object.age_limit }}</td>
          <td>{{ object.publisher }}</td>
          <td>{{ object.quantity_available }}</td>
          <td>{{ object.is_active }}</td>
          <td>{{ object.rating }}</td>
          <td>{{ object.date_added }}</td>
          <td>{{ object.date_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> {% endcomment %}
{% endblock %}