{% extends 'base.html' %}

{% block body %}
  <h1>Hi all, there is a list of all authors</h1>
  <div> To add a author press <a href="{% url 'directories:add_author.html' %}">Add author</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Author Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.author_name }}</td>
          <td>{{ object.author_description }}</td>
          <td>
            <a href="{% url 'directories:edit_author.html' pk=object.pk %}">Edit</a>
            <a href="{% url 'directories:delete_author.html' pk=object.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}