{% extends 'base.html' %}

{% block HEAD %}
<style>
.card-prod {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
}

.div-img {
  float: left;
  margin-right: 20px;
  width: 350px;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.div-text {
  margin-left: 370px;
  text-align: left;
  word-break: break-all;
}

h5 {
  font-size: 2.4em;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 5px 0;
}

</style>
{% endblock HEAD %}

{% block TITLE %}Book{% endblock TITLE %}

{% block BODY %}

  <div class="card-prod">
    <div class="div-img">
      <img src="{{ object.book_image.url }}" alt=" ">
    </div>
    <div class="div-text">
        <h5>{{object.book_name}}</h5>
        <h5 style="border-bottom: 1px solid #d9d9d9;">
          {{object.book_price}} BYN
          <p>
            Рейтинг: {{object.rating}}
          </p>
        </h5>
        
        <p>
        Автор: {{object.author}}
        </p>
        <p>
        Серия: {{object.series}}
        </p>
        <p>
        Жанр: {{object.genre}}
        </p>
        <p>
        Год издательства: {{object.year_publishing}}
        </p>
        <p>
        Страницы: {{object.page}}
        </p>
        <p>
        Переплёт: {{object.binding}}
        </p>
        <p>
        Формат книги: {{object.format_book}}
        </p>
        <p>
        ISBN: {{object.ISBN}}
        </p>
        <p>
        Издательство: {{object.publishion}}
        </p>
        <p>
        Количество книг: {{object.counter_book}}
        </p>
        <p>
        Доступна: {{object.active}}
        </p>
      {% if user.is_authenticated %}
        <a href="{% url 'dirictories:update-book' pk=object.pk %}" 
          class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Изменить</a>
        <a href="{% url 'staff:add_to_cart' pk=object.pk %}"
          class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Добавить в корзину</a>

      {% if user.is_superuser %}

        <a href="{% url 'dirictories:delete-book' pk=object.pk %}" 
          class="btn btn-primary" style ="margin: 0.1rem 0.1rem">Удалить</a>

      {% endif %}
    {% endif %}
    </div>
  </div>

{% endblock BODY %}