{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block HEAD %}
<style>
  .a-hover{
    text-decoration: none;
  }
  .a-hover:hover{
    text-decoration: underline
  }
</style>
{% endblock HEAD %}

{% block TITLE %}Signup{% endblock TITLE %}

{% block BODY %}
  
  <div style ="justify-content: center; align-items: center; display: flex; padding-top: 3%;">
    <form method="post">
        {% csrf_token %}

        <div style="width: 500px; height: 730px; border: 3px solid rgba(0, 0, 0, 0.5); border-radius: 20px;">
        
          <div style="width: 400px; height: 260px; margin-left: 50px; margin-top: 2%;">
          <h2 style="font-size: 2em; font-family: 'poppins',sans-serif;">
            Регистрация <ion-icon name="pencil-outline" style="position: absolute; font-size: 1.2em;"></ion-icon>
          </h2>
          {{form|crispy}}
  
          <input type="submit" value="Зарегистрироваться" class = "btn btn-primary btn-lg"
            style="width: 100%; padding: 10px; font-size: 16px; margin-top: 10px;">
          
          <p style="margin-top: 15px; font-family: 'poppins',sans-serif;">
          
            <a href="{% url 'staff:login' %}" class="a-hover">
              Войти
            </a>
          </p>
          </div>
        </div>
    </form>
  </div>

    
{% endblock BODY %}