{% extends 'base.html' %}
{% block head %}
<style>
    .form-field {
        margin-bottom: 10px;
    }
    
    form label {
        display: block;
        font-weight: bold;
        text-align: left;
    }
    
    form input, form textarea, form select {
        display: block;
        width: 30%;
        text-align: left;
    }
    
    button[type="submit"] {
        margin-top: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

{% endblock head %}
{% block body %}
<form method="post" action="{% url 'profile:profile_edit' %}">
    {% csrf_token %}
    
    <div class="form-field">
        <label for="{{ address_form.country.id_for_label }}">Страна:</label>
        {{ address_form.country }}
    </div>
    <div class="form-field">
        <label for="{{ address_form.city.id_for_label }}">Город:</label>
        {{ address_form.city }}
    </div>
    <div class="form-field">
        <label for="{{ address_form.postal_code.id_for_label }}">Почтовый индекс:</label>
        {{ address_form.postal_code }}
    </div>
    <div class="form-field">
        <label for="{{ address_form.address_line_1.id_for_label }}">Адрес (строка 1):</label>
        {{ address_form.address_line_1 }}
    </div>
    <div class="form-field">
        <label for="{{ address_form.address_line_2.id_for_label }}">Адрес (строка 2):</label>
        {{ address_form.address_line_2 }}
    </div>
    
    <div class="form-field">
        <label for="{{ profile_form.email_profile.id_for_label }}">Email:</label>
        {{ profile_form.email_profile }}
    </div>
    <div class="form-field">
        <label for="{{ profile_form.first_profile_name.id_for_label }}">Имя:</label>
        {{ profile_form.first_profile_name }}
    </div>
    <div class="form-field">
        <label for="{{ profile_form.last_profile_name.id_for_label }}">Фамилия:</label>
        {{ profile_form.last_profile_name }}
    </div>
    <div class="form-field">
        <label for="{{ profile_form.phone.id_for_label }}">Телефон:</label>
        {{ profile_form.phone }}
    </div>
    <div class="form-field">
        <label for="{{ profile_form.group.id_for_label }}">Группа:</label>
        {{ profile_form.group }}
    </div>
    <div class="form-field">
        <label for="{{ profile_form.additional_info.id_for_label }}">Дополнительная информация:</label>
        {{ profile_form.additional_info }}
    </div>
    
    <button type="submit">Сохранить</button>
</form>

{% endblock %}